<table class="table display nowrap table-striped table-bordered scroll-horizontal-vertical" th:fragment="table">
  <thead id="table_body">
    <tr>
      <th scope="col">N°</th>
      <th scope="col">Tema</th>
      <th scope="col">Programa</th>
      <th scope="col">Presentadores</th>
      <th scope="col">Invitados</th>
      <th scope="col">Fecha</th>
      <th scope="col">Titulo</th>
      <th scope="col">Video</th>
      <th scope="col" class="text-center"><i class="fa fa-cog"></i></th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="plec, index : ${plecas}" th:if="${plec.est_pleca != 'X'}">
      <td scope="row">
        <b th:text="${index.index + 1}"></b>
      </td>
      <td th:text="${plec.tema_pleca}"></td>
      <td th:text="${plec.programa.desc_programa}"></td>
      <td>
        <button style="width: 100%;" th:id="${plec.id_pleca}" onclick="MandarId(this.id)" type="button"
          class="btn btn-secondary btn-round mb-0" data-toggle="modal">
          <b>Ver</b>
        </button>
      </td>
      <td>
        <button style="width: 100%;" th:id="${plec.id_pleca}" onclick="MandarId2(this.id)" type="button"
          class="btn btn-secondary btn-round mb-0" data-toggle="modal">
          <b>Ver</b>
        </button>
      </td>
      <td th:text="${#dates.format(plec.f_pleca, 'dd/MM/yyyy')}"></td>
      <td th:text="${plec.titulo_transmicion_pleca}"></td>

      <td>
        <button class="btn btn-secondary btn-round mb-0" style="width: 100%;" th:attr="onclick='openVideoModal(\'' + ${plec.url_video_pleca} + '\')'">Abrir video</button>
      </td>

      <td>
        <div class="btn-group btn-group-justified btn-round">
          <a href="#FormularioPleca"  style="width: 100%;"
            th:attr="onclick='cargarModFormulario(\'' + ${plec.id_pleca} + '\')'"
            class="btn btn-blue btn-round mb-0">⚙️</a>
          <a  style="width: 100%;"
          th:attr="onclick='EliminarRegistro(\'' + ${plec.id_pleca} + '\' , \'' + ${plec.tema_pleca} + '\')'"
            class="btn btn-danger btn-round mb-0">🗑️</a>
        </div>
      </td>
    </tr>
  </tbody>

</table>
<script>
  $(".scroll-horizontal-vertical").DataTable({
      "scrollY": 350,
      "scrollX": false
    });
</script>